<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | S-StoryBooks</title>
  </head>
  <body>
    <h1>S-StoryBooks</h1>
    <p>
      哲学しよう！
    </p>
  </body>
</html>
